:root {
  /* --primary-color: #6e1995;
  --secondary-color: #220131; */
  --form-background-color: #a892ee;
  --form-button-background-color: #40005d;
  --form-border-button-color: #40005d;
  --form-button-background-hover-color: #510674;
  --form-button-border-hover-color: #510674;
}
